.header {
    height: 50px;
    text-align: center;
    font-family: 'DejaVu Serif', Georgia, "Times New Roman", Times, serif;
    font-size: 18px;
    color: #ffffff;
    background-color: #1da1f2;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
}

.header span {
    font-size: 18px;
    color: #FF9C7C;
}

.header a{
    color: white;
}

.header a:hover{
    text-decoration: none;
    color: white;
    background-color: #09669D;
    padding:5px;
    border-radius: 2px;
}

.header-link{
    margin-top: 12px;
}

.home-link a:hover{
    background-color: #1da1f2;
}

.search-container{
    padding-top:20px;
    font-family: Verdana, Arial, sans-serif;
    font-size: 16px;
}

.search-link{
    margin-bottom: 7px;
}

.search-input{
    margin-top:-3px;
    height: 30px !important;
}