<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>YeeBoy Messenger</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/registration.css}" href="../static/css/registration.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
</head>
<body>
<div class="header container">
    <a th:href="@{/}"><span>Yee</span>Boooy Messenger</a>
</div>
<div class="reg-container">
    <form th:action="@{/registration}" th:object="${user}" method="post" class="form-horizontal" role="form">
        <input type="text" th:field="*{login}" placeholder="Логин" class="form-control"/>
        <label th:if="${#fields.hasErrors('login')}" th:errors="*{login}" class="validation-message"></label>
        <input type="password" th:field="*{password}" placeholder="Пароль" class="form-control"/>
        <label th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="validation-message"></label>
        <input type="text" th:field="*{firstName}" placeholder="Имя" class="form-control"/>
        <label th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}" class="validation-message"></label>
        <input type="text" th:field="*{lastName}" placeholder="Фамилия" class="form-control"/>
        <label th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}" class="validation-message"></label>
        <button type="submit" class="btn-reg">Зарегистрироваться</button>
        <div class="success-message">
            <p th:utext="${successMessage}"></p>
        </div>

    </form>
</div>
</body>
</html>